<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190409945665-99fc19bmjfq3cajb78mggkutfaav3dml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190409945665-99fc19bmjfq3cajb78mggkutfaav3dml</string>
	<key>API_KEY</key>
	<string>AIzaSyAMt5pzDuRA_SUeZ5NN1bn-3XCZp1uSW_s</string>
	<key>GCM_SENDER_ID</key>
	<string>190409945665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>monash.WeShare</string>
	<key>PROJECT_ID</key>
	<string>weshare-7fbb7</string>
	<key>STORAGE_BUCKET</key>
	<string>weshare-7fbb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190409945665:ios:21f2d0aca99ccce7580cc0</string>
	<key>DATABASE_URL</key>
	<string>https://weshare-7fbb7.firebaseio.com</string>
</dict>
</plist>